﻿@using FiestaNetERP.Models.Extensions;
@using System.Web.Mvc;

@model MF.Comun.Dto.IdentidadCliente
@{
    ViewData["Title"] = "IdentidadCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

    <div style="padding-left:25px; padding-right:15px; padding-bottom:10px; padding-top:5px;">
        <div id="wizard" class="aiia-wizard" style="display: none;">

            <div class="aiia-wizard-step">
                <h1>Huella Digital</h1>
                <div class="step-content">
                    @await Html.PartialAsync("pwHuella", Model)

                </div>
            </div>

            <div class="aiia-wizard-step">
                <h1>Fotografía</h1>
                <div class="step-content">
                    @await Html.PartialAsync("pwFoto", Model)
                </div>
            </div>
          
        <div class="aiia-wizard-step">
            <h1>¡Finalizado!</h1>
            <div class="step-content">
                @await Html.PartialAsync("pwFinWizard", Model)

            </div>
        </div>




        </div>
    </div>
