﻿@*
    Fin Wizard
*@
@model MF.Comun.Dto.IdentidadCliente;
@using MF_Clases;
@{
    var settings = new MF_Clases.appSettings();
    string PagesPath = settings.SConfig.PagesUrl;}
<head>
    <script type="text/javascript">
        $(document).ready(
            function () {
                myFunctionFinWizard(@Model.preSolicitud.MontoTotal,@Model.preSolicitud.MontoPagos1,@Model.preSolicitud.MontoPagos2,@Model.preSolicitud.Enganche,@Model.preSolicitud.SaldoFinanciar);
               
                @*var P = document.getElementById('Pedido');
                var $finishButton = $(this).find(".aiia-wizard-button-next");
                $finishButton.click(function () {
                    if ($finishButton.html() == 'Enviar Solicitud') {
                        $.support.cors = true;
                        $.ajax(
                            {
                                url: '@ViewData["RestServicesUrl"]'+"/api/SolicitudCredito/EnviarSolicitud", // be consistent and case the route the same as the ApiController
                                type: "POST",
                                dataType: 'json',
                                data: "="+P.value, // add an = sign
                                success: function (result) {
                                    $("button").html('Solicitud enviada');
                                    alert('Solicitud Enviada');
                                    document.location.href = "/mfERP/ResultadoPreCalificacion/" + P.value;
                                },
                                error: function (xhr, status, p3, p4) {
                                    var err = "Error " + " " + status + " " + p3;
                                    if (xhr.responseText && xhr.responseText[0] == "{")
                                        err = JSON.parse(xhr.responseText).message;
                                   
                                    alert('Problema al enviar ' + err);
                                    //self.close();
                                }
                            });

                    }
                });*@
            });
    </script>
</head>
<body>
    <div class="container" style="width:50%;">
        <h2 class="text-danger"> <span class="glyphicon glyphicon-user" class="text-secondary"></span> @Model.Cliente - @Model.NombreCompleto</h2>
        <h3 class="text-secondary"> <span class="glyphicon glyphicon-list-alt"></span> @Model.preSolicitud.NombreFinanciera @(Model.preSolicitud.CantPagos1 + Model.preSolicitud.CantPagos2) PAGOS</h3>
        <h3 class="text-secondary"> <span class="glyphicon glyphicon-ok" id="montoFW"> Monto a Facturar: Q  </span></h3>

        <h4 class="text-success"> <span class="glyphicon glyphicon-tag" id="engancheFW">Enganche</span></h4>
        <h5 class="text-secondary"><span class="glyphicon glyphicon-duplicate" id="saldoFinanciarFW"> Saldo a financiar: </span></h5>
        <p class="text-secondary"><span class="glyphicon glyphicon-pushpin"></span> Cuotas: @Model.preSolicitud.CantPagos1 cuotas de <span id="cuotas1FW"></span> |  @Model.preSolicitud.CantPagos2 cuota de <span id="cuotas2FW"></span></p>
    </div>
    <br />
  
</body>