﻿@*Formulario para grabar la fotografía del cliente*@
@model MF.Comun.Dto.IdentidadCliente;
<HEAD>
    <script type="text/javascript">
        $(document).ready(
            function () {
                myFunctionFoto('@Model.Cliente', '@ViewData["DefaultEnvironment"]',@Model.preSolicitud.MontoTotal,@Model.preSolicitud.MontoPagos1,@Model.preSolicitud.MontoPagos2,@Model.preSolicitud.Enganche,@Model.preSolicitud.SaldoFinanciar);
            });
    </script>
    <style>
        .aParent div {
            float: left;
            clear: none;
        }
    </style>
</HEAD>
<body >
    <div class="aParent">
        <div class="container" style="width:50%;">
            <h2 class="text-danger"> <span class="glyphicon glyphicon-user" class="text-secondary"></span> @Model.Cliente - @Model.NombreCompleto</h2>
            <h3 class="text-secondary"> <span class="glyphicon glyphicon-list-alt"></span> @Model.preSolicitud.NombreFinanciera @(Model.preSolicitud.CantPagos1 + Model.preSolicitud.CantPagos2) PAGOS</h3>
            <h3 class="text-secondary"> <span class="glyphicon glyphicon-ok" id="montoFoto"> Monto a Facturar: Q  </span></h3>

            <h4 class="text-success"> <span class="glyphicon glyphicon-tag" id="engancheFoto">Enganche</span></h4>
            <h5 class="text-secondary"><span class="glyphicon glyphicon-duplicate" id="saldoFinanciarFoto"> Saldo a financiar: </span></h5>
            <p class="text-secondary"><span class="glyphicon glyphicon-pushpin"></span> Cuotas: @Model.preSolicitud.CantPagos1 cuotas de <span id="cuotas1Foto"></span> |  @Model.preSolicitud.CantPagos2 cuota de <span id="cuotas2Foto"></span></p>
        </div>
        <div>
            <object id="MyActiveXFoto" name="MyActiveXFoto" width="406px" height="300px" classid="clsid:5D0520B8-E679-46AF-BF26-381F35C9D516"
                    viewastext style="border-style:none">
                <p>
                    browser no compatible o  el ActiveX no está instalado correctamente.(foto)
                </p>

            </object>
        </div>
    </div>

</body>