﻿@*Formulario para grabar la huella digital del cliente*@
@model MF.Comun.Dto.IdentidadCliente;
<head>
    <style>
        .aParent div {
            float: left;
            clear: none;
        }
    </style>
    <script>
        //$(document).ready(function () {
            
        //    var g = document.getElementById("hello");
        //    var $this = $(this);
        //    var $finishButton = $this.find(".aiia-wizard-button-next");

        //    //$finishButton
        //    //    .removeClass("btn-primary")
        //    //    .addClass("NoPasarBtn")
        //    //    .prop('disabled', true);


        //    //$("MyActiveX").mouseenter(function () {
        //    //    alert('entro');
        //    //    //if ($("MyActiveX").Resultado==true)

        //    //    ////if (g.innerText.includes('SI')
        //    //    //{
        //    //    //    $finishButton
        //    //    //        .removeClass("NoPasarBtn")
        //    //    //        .addClass("btn-primary")
        //    //    //        .prop('disabled', false);
        //    //    //}
        //    //    //else {
        //    //    //    $finishButton
        //    //    //        .removeClass("btn-primary")
        //    //    //        .addClass("NoPasarBtn")
        //    //    //        .prop('disabled', true);
        //    //    //}
        //    //});

        //});
    </script>
</head>
<body onload="myFunctionHuella('@Model.Cliente','@ViewData["DefaultEnvironment"]',@Model.preSolicitud.MontoTotal,@Model.preSolicitud.MontoPagos1,@Model.preSolicitud.MontoPagos2,@Model.preSolicitud.Enganche,@Model.preSolicitud.SaldoFinanciar)">

    <div class="aParent">

        <div class="container" style="width:50%;">
            <h2 class="text-danger"> <span class="glyphicon glyphicon-user" class="text-secondary"></span> @Model.Cliente - @Model.NombreCompleto</h2>
            <h3 class="text-secondary"> <span class="glyphicon glyphicon-list-alt"></span> @Model.preSolicitud.NombreFinanciera @(Model.preSolicitud.CantPagos1 + Model.preSolicitud.CantPagos2) PAGOS</h3>
            <h3 class="text-secondary"> <span class="glyphicon glyphicon-ok" id="monto"> Monto a Facturar: Q  </span></h3>

            <h4 class="text-success"> <span class="glyphicon glyphicon-tag" id="enganche">Enganche</span></h4>
            <h5 class="text-secondary"><span class="glyphicon glyphicon-duplicate" id="saldoFinanciar"> Saldo a financiar: </span></h5>
            <p class="text-secondary"><span class="glyphicon glyphicon-pushpin"></span> Cuotas: @Model.preSolicitud.CantPagos1 cuotas de <span id="cuotas1"></span> |  @Model.preSolicitud.CantPagos2 cuota de <span id="cuotas2"></span></p>
        </div>
        
        <div>
            <object id="MyActiveX" name="MyActiveX" width="406px" height="250px" classid="clsid:25D66FA4-6996-4A66-9C3E-3E33EC1F96C1"
                    viewastext style="border-style:none">
                <p>
                    browser no compatible o el ActiveX no está instalado correctamente.
                </p>

            </object>
        </div>
    </div>
</body>