﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeBehind="Default.aspx.cs" Inherits="VentaCamas._Default" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <table align="center">
        <tr>
            <td class="style1" style="text-align: center">
                <strong>MENU SISTEMA VENTA DE CAMAS</strong></td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td>
                <asp:Button ID="btnVentaCamas" runat="server" 
                    onclick="btnVentaCamas_Click" Text="Reporte de Venta de Camas" 
                    Width="274px" />
            </td>
        </tr>
        <tr>
            <td>
                <asp:Button ID="btnRegresar" runat="server" 
                    onclick="btnRegresar_Click" Text="Regresar" width="274px" />
            </td>
        </tr>
    </table>
</asp:Content>
