body {
	background:#fbd17d url(images/wall02.jpg) repeat-x top center;
	/*background:#f3efeb;*/
}
.clear {
	clear:both;
	margin:0;
	padding:0;
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
img {
	border:0px;
}
ul, li {
	list-style-type:none;
}
h3 {
	color:#000;
	margin:0;
	padding:4px 0 4px 0;
	border-bottom:1px dotted #cdbc9b;
	color:#f26322;
}
h4 {
	border-bottom:1px dotted #cdbc9b;
	color:#f26322;
}
#submit {
	background:url(images/submit.png) no-repeat top center;
	margin:5px 0 0 0;
	padding:2px 0 13px 0;
	color:#3e3e3e;
	text-align:center;
	font-size:9pt;
	width:190px;
	height:41px;
	border:0;
}
#submit:hover {
	color:#808080;
}
.fullpage {
	width:1000px;
	margin:35px auto;
	padding:0;
	font-family:Arial;
	color:#808080;
	font-size:10pt;
	background:url(images/bgheader.png);
	border-radius:20px;
	-mod-border-radius:20px;
	position: relative;
    -moz-box-shadow: 0 5px 20px rgb(30,30,30);
}
.language {
	position:absolute;
	top:-32px;
	right:20px;
	width:1000px;
	margin:0 auto;
	text-align:right;
}
.social {
	position:absolute;
	top:-32px;
	right:20px;
	/*right:280px;*/
	margin:0;
	padding:0;
	z-index:30;
	color:#fff;
}
.header {
	margin:0;
	padding:0;
	height:145px;
	position:relative;
	border-bottom:17px solid #000;
}
.header1 {
	float:left;
	width:400px;
	margin:0;
	padding:30px 20px 20px 24px;
}
.header2 {
	float:right;
	width:470px;
	height:50px;
	margin:0;
	padding:0 15px 15px 15px;
	position:relative;
	font-size:7pt;
	font-family:verdana;
}
.header2 ul {
	margin:0 40px 10px 0;
	padding:5px 7px 5px 40px;
	background:url(images/bgheader.png);
	height:52px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	-mod-border-bottom-left-radius:15px;
	-mod-border-bottom-right-radius:15px;
	color:#3e3e3e;
	border:1px solid #fff;
}
.header2 li {
	float:left;
	margin:0;
	padding:0px 5px 0 0;
}
.header2 p {
	position:absolute;
	top:35px;
	right:145px;
}
.header2 p a {
	color:#4c2d16;
}
.submenu {
	margin:16px -15px 8px 10px;
	padding:0;
	font-size:11pt;
	font-family:arial;
	font-weight:bold;
	text-align:right;
}
.submenu a {
	color:#605643;
}
.submenu span {
	background:#ff8a3f;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	font-size:10pt !important;
	padding:6px 14px;
	border:2px solid #e35904;
}
.submenu span a {
	color:#fff;
}
.menutop {
	position:absolute;
	bottom:0;
	right:0;
	margin:5px 0 0 0;
	padding:0;
	height:35px;
	background:url(images/bgmenutop.png) repeat-x top center;
	border-top-left-radius:20px;
}
.menutop li {
	float:left;
	margin:0;
	width:110px;
	height:17px;
	text-align:center;
	
	font-family:"Trebuchet MS";
}
.menutop li a {
	color:#4c2d16;
	padding:8px 0;
	border-right:1px solid #eee;
	/*padding:9px 20px 7px 20px;*/
	display:block;
}
.menutop li a:hover {
	background:#e35904;
	padding:8px 0;
	font-weight:bold;
	font-size:10.5pt;
	border-right:1px solid #eee;
	/*padding:9px 20px 7px 20px;*/
	color:#fff;
	text-decoration:none;
}
#mthome a:hover {
	border-top-left-radius:20px;
}
.menutop li div {
	display:none;
}
.contenthome {
	clear:both;
	margin:0;
	padding:0;
	position:relative;
	background:#fff;
}
.content {
	clear:both;
	margin:5px 0 0 0;
	padding:0 10px 20px 0;
	background:#fff;
	position:relative;
}
/* -- desactivado del lado izquierdo--- */
.sidebar {
	margin:0;
	padding:0;
}
ul.subbox {
	list-style-type:none;
	margin:7px 0 0 8px;
	padding:0;
	width:auto;
}
ul.subbox li {
	position:relative;
	margin:0;
	padding:6px 0px 6px 0px;
	border-right:1px dotted #eee;
	background:#e35904;
	color:#fff;
	width:108px;
	text-align:center;
	font-family:Arial !important;
	font-size:10pt;
	font-weight:normal;
}
ul.subbox li a {
	color:#fff;
	text-decoration:none;
}
ul.subbox li:hover {
	background:#c82404;
	text-decoration:none !important;
	font-size:10.5pt;
	font-weight:bold;
}
ul.subbox ul {
	position:absolute;
	top:26px;
	left:0;
	margin:0;
	padding:0;
	z-index:20;
	width:170px;
	background:none !important;
}
ul.subbox ul li {
	margin:0;
	border-bottom:1px dotted #eee;
	background:#c82404;
	width:150px !important;
	text-align:left !important;
}
ul.subbox ul li a {
	color:#fff;
	font-size:10pt !important;
	font-weight:normal !important;
	padding:0 0 0 15px;
	margin:0;
	display:block;
	text-decoration:none;
}
ul.subbox ul li:hover {
	background:#9d1b02;
}
ul.subbox li:hover > ul {
	display:block;
}
ul.subbox > li > ul {
	display:none;
	position:absolute;
	top:26px;
	left:0;
	margin:0;
	padding:0;
	z-index:20;
	background:#fff;
	width:170px;
}
ul.subbox > li
{
	float:left;
}
#ofertay {
	background:#fbcf02;
	margin:0;
	padding:6px 7px;
}
#ofertay a {
	color:#4c2d16;
	text-decoration:none;
}
#ofertay a:hover {
	color:#fff;
}
.content2 {
	margin:10px 0 0 2px;
	padding:0;
	width:975px;
	color:#3e3e3e;
}
.content2 a {
	color:#e35904;
}
.content3 {
	margin:10px 0 0 10px;
	padding:0;
	width:975px;
	color:#3e3e3e;
	position:relative;
}
.content3 a {
	color:#e35904;
}
.productoshome {
    margin:25px 0 0 0;
	padding:0;
	heigth: 300px;
}
.productoshome ul {
	margin:10px 0 0 10px;
	padding:0;
	width:750px;
}
.productoshome li {
	float:left;
	margin:0 10px 25px 0;
	padding:0;
	width:220px;
	height:285px;
	position:relative;
}
.productoshome li a {
	text-decoration:none;
}
.productoshome li span {
	font-size:7pt;
	color:#3e3e3e;
}
.productoshome li img {
	margin:0;
	padding:5px 0;
}
.facebookhome {
	position:absolute;
	right:0;
	top:200px;
	width:275px;
	margin:0;
	padding:0;
}
.precio {
	font-size:8pt;
	font-weight:bold;
	color:#5f3212;
}
.vermash {
	position:absolute;
	bottom:0;
	left:0;
	width:110px;
	height:20px;
	margin:0;
	padding:5px 0 0 0;
	text-align:center;
	background:#e8e1c1;
	font-size:9pt;
	font-weight:bold;
}
.vermash a {
	color:#5f3212;
}
.comprarh {
	position:absolute;
	bottom:0;
	right:0;
	width:110px;
	height:19px;
	margin:0;
	padding:6px 0 0 0;
	text-align:center;
	background:#ed4d01;
	color:#fff;
}
.comprarh input {
	background:#ed4d01;
	maargin:0;
	padding:0;
	color:#fff;
	font-weight:bold;
	border:0;
}
.vermas {
	position:absolute;
	bottom:0;
	left:0;
	width:110px;
	height:20px;
	margin:0;
	padding:5px 0 0 0;
	text-align:center;
	background:#e8e1c1;
	font-size:9pt;
	font-weight:bold;
}
.vermas a {
	color:#5f3212;
}
.comprar {
	position:absolute;
	bottom:0;
	right:0;
	width:110px;
	height:19px;
	margin:0;
	padding:6px 0 0 0;
	text-align:center;
	background:#ed4d01;
	color:#fff;
}
.comprar input {
	background:#ed4d01;
	maargin:0;
	padding:0;
	color:#fff;
	font-weight:bold;
	border:0;
}
.categorias {
	float:left;
	width:990px;
	margin:0 0 0 10px;
	padding:0;
}
.categorias ul {
	margin:10px 0 0 10px;
	padding:0;
	width:990px;
}
.categorias li {
	float:left;
	margin:0 27px 20px 0;
	padding:0;
	width:210px;
	height:285px;
	position:relative;
}
.categorias li a {
	text-decoration:none;
}
.categorias li span {
	font-size:7pt;
	color:#3e3e3e;
	text-transform:uppercase;
}
.categorias li img {
	margin:0;
	padding:5px 0 10px 0;
}
.categorias li select {
	font-size:7.5pt;
	font-family:Arial;
}
.comprar2 {
	position:absolute;
	bottom:0;
	right:0;
	width:200px;
	height:21px;
	margin:0;
	padding:4px 0 0 0;
	text-align:center;
	background:#ed4d01;
	color:#fff;
}
.comprar2 input {
	background:#ed4d01;
	margin:0;
	padding:0;
	color:#fff;
	font-weight:bold;
	border:0;
}
.categoriassub {
	margin:10px 0;
	width:670px;
}
.categoriassub ul {
	margin:0;
	padding:0;
}
.categoriassub li {
	float:left ;
	margin:0 0 10px 0;
	padding:4px 7px;
	border-right:1px solid #C0C0C0;
	font-size:8pt;
}
.categoriassub li a {
	color:#ed4d01;
}
.productosver {
	margin:0;
	padding:10px;
	position:relative;
}
.productosver img {
	margin:0;
	padding:0 7px 15px 0;
}
.productosver span {
	font-size:8pt;
}
.comprar3 input {
	background:#ed4d01;
	margin:7px 0 0 0;
	padding:5px;
	color:#fff;
	font-weight:bold;
	border:0;
	width:250px;
	border-radius:10px;
	-mod-border-radius:10px;
}
.preciobox {
	position:absolute;
	right:25px;
	top:10px;
	border:2px solid #352912;
	border-radius:10px;
	-mod-border-radius:10px;
	margin:0 0 10px 10px;
	padding:15px;
	width:250px;
	font-size:11pt;
	color:#352912;
	text-align:center;
}
.marcomarcas {
	margin:10px 0;
	padding:20px 0 0 0;
	border-bottom:1px dotted #C0C0C0;
}
.productoscalimg {
	float:left;
	margin:0 auto;
	padding:20px;
	width:500px;
}
.prodlogo {
	width:500px;
	text-align:center;
}
.proddescripcion {
	float:right;
}
.prodmas {
	background:#e35904;
	padding:3px 6px;
	margin:0 0 0 330px;
	text-align:center;
	border-radius:7px;
}
.prodmas a {
	color:#fff;
}
.proddescripcion #prodsubmit {
	background:#e35904;
	padding:5px 8px;
	color:#fff;
	font-size:12pt;
	font-weight:bold;
	margin:10px 0 0 0;
	border-radius:8px;
}
.productoscaltable {
	width:350px;
	margin:20px 40px 0 0;
	padding:0;
}
.productoscaltable td {
	border:1px solid #C0C0C0;
	padding:1px 10px;
	border-radius:4px;
	font-size:8pt;
}
.productostdtitle {
	background:url(images/bgmenutop.png) repeat-x top center;
	color:#4c2d16;
	padding:3px 10px;
}
.productoscaldesc {
	margin:20px 0 0 0;
	padding:10px;
	width:400px;
	border:1px solid #C0C0C0;
	border-radius:15px;
}
.productoscaldesc p {
	color:#f26322;
	font-size:14pt;
	margin:0;
	padding:0px;
}
.addcart {
	position:absolute;
	bottom:25px;
	right:55px;
}
#nobor {
	border:0px;
	text-align:center;
}
.suplementos2 {
	margin:0;
	padding:0;
	width:975px;
	position:relative;
}
.suplementos {
	margin:0;
	padding:0;
	width:870px;
	position:relative;
}
.suplementos ul {
	margin:0;
	padding:0;
}
.suplementos li {
	float:left;
	margin:0 7px 7px 0;
	padding:0;
}
.medidas {
	position:absolute;
	right:50px;
	top:130px;
}
.camascat {
	margin:5px auto;
	width:100%;
	padding:0;
}
.camascat li {
	float:left;
	margin:0 5px 5px 0;
}
.camascat li a {
	color:#fff;
	background:#e35904;
	display:block;
	padding:7px 12px;
	border:1px solid #e35904;
	text-decoration:none;
	border-radius:10px;
	-mod-border-radius:10px;
	font-size:8pt !important;
}
.camascat li a:hover {
	background:#eee;
	border:1px solid #e35904;
	border-radius:10px;
	-mod-border-radius:10px;
	color:#e35904;
	padding:7px 12px;
}
#td {
	background:#c82404;
	color:#fff;
	margin:0;
	padding:4px;
}
.suplementos table {
	border:1px solid #C0C0C0;
	padding:6px;
	width:300px;
}
.suplementos td {
	padding:3px;
}
.suplementos a {
	font-size:12pt;
	font-weight:bold;
	text-decoration:underline;
}
.ofertas {
	float:left;
	width:975px;
	margin:0 0 0 10px;
	padding:0;
}
.ofertas ul {
	margin:10px 0 0 10px;
	padding:0;

}
.ofertas li {
	float:left;
	margin:0 25px 20px 0;
	padding:0;
	width:200px;
	height:265px;
	position:relative;
}
.ofertas li a {
	text-decoration:none;
}
.ofertas li span {
	font-size:7pt;
	color:#3e3e3e;
}
.ofertas li img {
	margin:0;
	padding:5px 0 10px 0;
}
.ofertas li select {
	font-size:7.5pt;
	font-family:Arial;
}
.saltopag {
	margin:10px 0;
	padding:0;
}
.saltopag li {
	margin:0 3px 3px 0;
	float:left;
	text-align:center;
	border:1px solid #C0C0C0 !important;
	font-size:8pt;
	font-weight:bold;
	width:25px !important;
	height:20px !important;
	padding:6px 0 0 0;
}
.saltopag li a {
	text-decoration:none;
	font-weight:normal !important;
	display:block;
	width:25px !important;
	height:20px !important;
	color:#a82a2b !important;
}
#nolink {
	background:#ed4d01;
	color:#fff;
}
.saltopag li:hover {
	background:#eee;
}
.galeria {
	margin:10px 0 25px 0;
	padding:0;
	width:670px;
}
.galeria ul {
	margin:0 0 25px 0;
	padding:0;
}
.galeria li {
	float:left;
	margin:0 5px 5px 0;
	padding:7px;
	border:1px solid #C0C0C0;
	border-radius:10px;
	-mod-border-radius:10px;
}
.galeria p {
	color:#e35904;
	padding:0 0 0 10px;
	font-weight:bold;
	font-size:12pt;
}
.empleos {
	margin:10px 0 0 0;
}
.empleos p {
	background:#e35904;
	padding:5px 20px;
	width:150px;
	border-radius:8px;
	-mod-border-radius:8px;
	text-align:center;
}
.empleos p a {
	color:#fff;
}
.empleos table {
	margin:0 0 20px 0;
	padding:10px;
	border:1px solid #cdbc9b;
	border-radius:10px;
	-mod-border-radius:10px;
	width:700px; 
}
.user {
	font-size:8pt;
	color:#4c2d16;
	margin:0;
	padding:20px 0 7px 0;
	width:430px;
}
.user a {
	color:#e35904;
}
.login {
	float:left;
	width:560px;
	border:1px solid #4c2d16;
	padding:15px;
	margin:10px 8px 25px 0;
	border-radius:10px;
	-mod-border-radius:10px;
	background:#fdf7eb;
}
.nuevacuentareg {
	float:right;
	width:270px;
	margin:10px 15px 25px 0;
	padding:15px;
	border:1px solid #4c2d16;
	border-radius:10px;
	-mod-border-radius:10px;
	background:#e35904;
	color:#fff;
	text-align:center;
}
.nuevacuenta b {
	background:#e35904;
	color:#fff;
	padding:5px;
	display:block;
}
.nuevacuenta table {
	width:600px;
	border:1px solid #cdbc9b;
	padding:10px;
	margin:0 0 25px 0;
	border-radius:10px;
	-mod-border-radius:10px;
}
.verpedido b {
	color:#e35904;
}
.tablepedido {
	width:700px;
}
.tablepedido td {
	border:1px solid #C0C0C0;
	padding:4px;
}
#tdpedido {
	background:#e35904;
	color:#fff;
	padding:5px;
	font-weight:bold;
}
.ubicaciones {
	margin:0;
	pading:0;
}
.ubicaciones ul {
	margin:5px 0 0 0;
	pading:0;
	list-style-type:none;
}
.ubicaciones li {
	float:left;
	border-radius:10px;
	-mod-border-radius:10px;
	border:1px solid #C0C0C0;
	margin:0 10px 10px 0;
	padding:20px 10px 0 10px;
	list-style-type:none;
	width:310px;
	height:100px;
	position:relative;
}
.ubicaciones strong {
	position:absolute;
	top:0;
	left:0;
	background:#e35904;
	margin:0;
	padding:5px;
	color:#fff;
	width:320px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	-mod-border-top-left-radius:10px;
	-mod-border-top-right-radius:10px;
}
.contactenos {
	margin:0 0 25px 0;
	padding:0;
}
.contactenos table {
	margin:10px 0 0 0;
	padding:10px;
	border:1px solid #cdbc9b;
	border-radius:10px;
	-mod-border-radius:10px;
	width:600px;
}
.clientes {
	margin:0 0 25px 0;
	padding:0;
}
.clientes table {
	margin:10px 0 0 0;
	padding:10px;
	border:1px solid #cdbc9b;
	border-radius:10px;
	-mod-border-radius:10px;
	width:930px;
}
.banners {
	display:none;
	position:absolute;
	top:0px;
	right:3px;
	width:120px;
	margin:10px 5px 0 0;
	padding:0;
}
.banners ul {
	margin:0;
	padding:0;
}
.banners li {
	margin:0;
	padding:0;
}
.footer {
	clear:both;
	margin:0;
	padding:10px 0 0 0;
	height:60px;
	background:#000000;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	-mod-border-bottom-left-radius:20px;
	-mod-border-bottom-right-radius:20px;
}
.footer ul {
	margin:0 auto;
	padding:7px;
	width:750px;
}
.footer li {
	float:left;
	border-right:1px solid #808080;
	margin:0 5px;
	padding:0 15px 0 5px;
	font-size:8pt;
}
.footer li a {
	color:#C0C0C0;
}
.grupo {
	width:1000px;
	margin:10px auto;
	padding:0 15px 0 0;
	text-align:right;
	font-size:8pt;
	font-family:verdana;
}
.grupo a {
	color:#808080;
}

/* Gallerias */

#lbOverlay {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #000000;
	cursor: pointer;
	z-index: 4999;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	left: 50%;
	overflow: hidden;
	background-color: #ffffff;
	z-index: 5000;
}

.lbLoading {
	background: #ffffff url('images/load.gif') no-repeat center;
}

#lbImage {
	border: 10px solid #ffffff;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 70%;
	outline: none;
}

#lbPrevLink {
	left: 0;
background: url('images/preview.png') no-repeat 0% 50%;
}

#lbPrevLink:hover {
	background: url('images/preview.png') no-repeat 0% 50%;
}

#lbNextLink {
	right: 0;
background: url('images/next.png') no-repeat 100% 50%;
}

#lbNextLink:hover {
	background: url('images/next.png') no-repeat 100% 50%;
}

#lbBottom {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #ffffff;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 86px;
	height: 22px;
	background: url('images/close.gif') no-repeat center;
	margin: 5px 0
}

#lbCaption, #lbNumber {
	margin-right: 71px;
}

#lbCaption {
	font-weight: bold;
}
