﻿

@model Vale;
@using DevExpress.AspNetCore
@using BotDetect.Web.Mvc

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_ElegantLayout.cshtml";
}

        <head>
            <script>
                var getIPAddress = function () {
                    $.getJSON("https://jsonip.com?callback=?", function (data) {


                        ip_solicitante.setValue(data.ip);
                        showlocation();
                    });
                };

                function showlocation() {
                    // One-shot position request.
                    navigator.geolocation.getCurrentPosition(callback);
                }

                function callback(position) {

                    var lat = position.coords.latitude;
                    var lon = position.coords.longitude;
                    Latitude.setValue(lat);
                    Longitude.setValue(lon);
                    document.getElementById('latitude').innerHTML = lat;
                    document.getElementById('longitude').innerHTML = lon;
                    //alert('lat ' + lat + ' lng: ' + lon);

                }
            </script>

            <style>
                .tableCell {
                    border-radius: 0px 5px 5px 0px;
                    height: 50px;
                    float: left;
                    margin-top: 14px;
                    padding-left: 2px;
                }

                .tableCellrdl {
                    border-radius: 0px 5px 5px 0px;
                    height: 50px;
                    float: left;
                    margin-bottom: 15px;
                    padding: 2px;
                }

                .rdl {
                    float: left;
                    max-width: 22px;
                    max-height: 22px;
                    text-align: end;
                    align-items: baseline;
                    padding-bottom: 20px;
                    padding-right: 15px;
                    margin-left: 20px;
                }

                .HiddenInput {
                    overflow: hidden;
                    clear: both;
                    border: none;
                }

                .HiddenField {
                    display: none;
                }

                .ComboSelection {
                    max-height: 100px;
                    float: inherit;
                }

                .Field {
                    color: black;
                }
            </style>
        </head>

        <body onload="getIPAddress()">

            @using (Html.BeginForm("Vale", "IngresoVale", FormMethod.Post))
            {
                <h1> Por favor llene el formulario para generar el vale de descuento</h1>


                @(Html.DevExpress()
                                                                        .BootstrapTextBoxFor(m => m.ip_solicitante)
                                                                       .CssClasses(css => css.Control("HiddenField"))
                                                                        .NullText("Ips")
                )

                @(Html.DevExpress()
                                                                       .BootstrapTextBoxFor(m => m.Latitude)
                                                                       .CssClasses(css => css.Control("HiddenField"))
                                                                       .NullText("Ips")
                )

                @(Html.DevExpress()
                                                               .BootstrapTextBoxFor(m => m.Longitude)
                                                               .CssClasses(css => css.Control("HiddenField"))
                                                               .NullText("Ips")
                )

                <div class="contentform">

                    <div id="sendmessage"> Su vale ha sido generado.Gracias</div>
                    <div class="row">
                        <div class="col-sm-6">

                            <div class="form-group">

                                <p>Nombres<span>*</span></p>
                                <table>
                                    <tr>
                                        <td>
                                            <span class="icon-case">
                                                <span class="glyphicon glyphicon-user"></span>
                                            </span>
                                        </td>
                                        <td class="tableCell">
                                            @*<input type="text" name="Nombres" id="txtNombres" data-rule="required" data-msg="Los nombres son requeridos." />*@
                                            @(Html.DevExpress()
                                                                                                                                            .BootstrapTextBoxFor(m => m.Nombres)

                                                                                                                                            .CssClasses(css => css.Control("HiddenInput"))
                                                                                                                                            .NullText("Ingrese su Nombre")
                                            )
                                        </td>
                                    </tr>
                                </table>
                                <div class="validation"></div>
                            </div>

                            <div class="form-group">
                                <p>Apellidos<span>*</span></p>
                                <table>
                                    <tr>
                                        <td>
                                            <span class="icon-case"><span class="glyphicon glyphicon-user"></span></span>
                                        </td>
                                        <td class="tableCell">

                                            @(Html.DevExpress()
                                                                                                                                            .BootstrapTextBoxFor(m => m.Apellidos)
                                                                                                                                                .CssClasses(css => css.Control("HiddenInput"))
                                                                                                                                            .NullText("Ingrese sus apellidos")
                                            )
                                        </td>
                                    </tr>
                                </table>
                                <div class="validation"></div>
                            </div>

                            <div class="form-group">
                                <p>E-mail<span>*</span></p>
                                <table>
                                    <tr>
                                        <td>
                                            <span class="icon-case"><span class="glyphicon glyphicon-envelope"></span></span>
                                        </td>
                                        <td class="tableCell">
                                            @(Html.DevExpress()
                                                                                                                                        .BootstrapTextBoxFor(m => m.Email)
                                                                                                                                            .CssClasses(css => css.Control("HiddenInput"))
                                                                                                                                        .NullText("Ingrese su E-mail")
                                            )
                                        </td>
                                    </tr>
                                </table>
                                <div class="validation"></div>
                            </div>

                            <div class="form-group">
                                <p>Teléfono<span>*</span></p>
                                <table>
                                    <tr>
                                        <td>
                                            <span class="icon-case"><span class="glyphicon glyphicon-earphone"></span></span>
                                        </td>
                                        <td class="tableCell">
                                            @*<input type="text" name="society" id="society" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Société' doit être renseigné." />*@
                                            @(Html.DevExpress()
                                                                                                                                            .BootstrapTextBoxFor(m => m.Telefono)
                                                                                                                                                .CssClasses(css => css.Control("HiddenInput"))
                                                                                                                                            .NullText("Ingrese su teléfono")
                                            )
                                        </td>
                                    </tr>
                                </table>
                                <div class="validation"></div>
                            </div>

                            <div class="form-group">
                                <p>Edad<span>*</span></p>
                                <table>
                                    <tr>
                                        <td>
                                            <span class="icon-case"><span class="glyphicon glyphicon-flag"></span></span>
                                        </td>
                                        <td class="tableCell">
                                            @*<input type="text" name="adresse" id="adresse" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Adresse' doit être renseigné." />*@
                                            @(Html.DevExpress()
                                                                                                                                            .BootstrapTextBoxFor(m => m.Edad)
                                                                                                                                                .CssClasses(css => css.Control("HiddenInput"))
                                                                                                                                            .NullText("Ingrese su edad")
                                            )
                                        </td>
                                    </tr>
                                </table>
                                <div class="validation"></div>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group-sm">
                                <p>Género<span>*</span></p>
                                <table>
                                    <tr>
                                        <td>
                                            <span class="icon-case"><i class="fas fa-venus-mars"></i></span>
                                        </td>
                                        <td class="tableCellrdl">
                                            @(Html.DevExpress()
                                                                                                                                                    .BootstrapRadioButton("genero")
                                                                                                                                                    .Value("M")
                                                                                                                                                    .CssClasses(css => css.Control("rdl"))
                                                                                                                                                    .GroupName("RadioGroup")
                                            ) <p style="padding-left:55px;padding-top:16px; padding-bottom:15px;"> M </p>
                                        </td>
                                        <td class="tableCellrdl">
                                            @(Html.DevExpress()
                                                                                                                                                   .BootstrapRadioButton("femenino")
                                                                                                                                                    .Value("F")
                                                                                                                                                    .CssClasses(css => css.Control("rdl"))
                                                                                                                                                    .GroupName("RadioGroup")
                                            )<p style="padding-left:55px;padding-top:16px; padding-bottom:15px;"> F </p>
                                        </td>
                                    </tr>
                                </table>
                                <div class="validation">
                                </div>

                                <div class="form-group">
                                    <p>DPI<span>*</span></p>
                                    <table>
                                        <tr>
                                            <td>
                                                <span class="icon-case"><i class="fa fa-map-marker"></i></span>
                                            </td>
                                            <td class="tableCell">
                                                @(Html.DevExpress()
                                                                                                                                                        .BootstrapTextBoxFor(m => m.Identificacion)
                                                                                                                                                            .CssClasses(css => css.Control("HiddenInput"))
                                                                                                                                                        .NullText("Ingrese su Identificación")
                                                )
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <p>Dirección<span>*</span></p>
                                    <table>
                                        <tr>
                                            <td>
                                                <span class="icon-case"><i class="fas fa-building"></i></span>
                                            </td>
                                            <td class="tableCell">
                                                @(Html.DevExpress()
                                                                                                                                                        .BootstrapTextBoxFor(m => m.Direccion)
                                                                                                                                                            .CssClasses(css => css.Control("HiddenInput"))
                                                                                                                                                            .Height(50)
                                                                                                                                                            .MaxLength(100)
                                                                                                                                                        .NullText("Ingrese su dirección")
                                                )
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="validation"></div>
                                </div>

                                <div>
                                    <p>Tienda donde vió la promoción<span>*</span></p>
                                    <table>
                                        <tr>
                                            <td>
                                                <span class="icon-case"><i class="fas fa-search-location"></i></span>
                                            </td>
                                            <td class="tableCell">
                                                @(Html.DevExpress()
                                                                                                                                                            .BootstrapComboBoxFor(m => m.Tienda)
                                                                                                                                                                .DropDownStyle(DropDownStyle.DropDown)
                                                                                                                                                                .IncrementalFilteringMode(IncrementalFilteringMode.StartsWith)
                                                                                                                                                                .TextField("Nombre")
                                                                                                                                                                .ValueField("Tienda")
                                                                                                                                                                .ValueType(typeof(string))
                                                                                                                                                                .Bind(ViewData["Tiendas"])

                                                )
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="validation"></div>
                                </div>
                                <div>
                                    @*<p>Tienda donde vió la promoción<span>*</span></p>*@
                                    <table>
                                        <tr>
                                            @*<td>
                                                <span class="icon-case"><i class="fas fa-search-location"></i></span>
                                            </td>*@
                                            <td class="tableCell">
                                                <label asp-for="CaptchaCode">Ingrese el texto de la imagen:</label>
                                                @{ var exampleCaptcha = new MvcCaptcha("ExampleCaptcha")
                                                    { UserInputID = "CaptchaCode" }; }
                                                <captcha mvc-captcha="exampleCaptcha" />
                                                <div class="actions">
                                                    <input asp-for="CaptchaCode" />
                                                    @*<input type="submit" value="Validate" />
                                                    <span asp-validation-for="CaptchaCode"></span>
                                                    @if (ViewContext.IsPost() && ViewData.ModelState.IsValid)
                                                    {
                                                        <span class="correct">Correct!</span>
                                                    }*@
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="validation"></div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <br />
                    @*<button type="submit" class="bouton-contact">Generar Vale</button>*@

                    @(Html.DevExpress()
                                                                                                        .BootstrapButton("submitButton")
                                                                                                        .CssClasses(css => css.Control("bouton-contact"))
                                                                                                        .ClientSideEvents(events => events
                                                                                                            .Click("onButtonClick"))
                                                                                                            .Text("Generar Vale")
                                                                                                            .UseSubmitBehavior(true))
                </div>
            }

            @*Latitude: <span id="latitude"></span>       <br />
            Longitude: <span id="longitude"></span>*@


        </body>
