﻿@model Vale;
@{
    ViewData["Title"] = "ResultadoVale";
    //Layout = "~/Views/Shared/_ElegantLayout.cshtml";
}
<head>
   
    <style>
        img {
            max-width: 100%;
            height: auto;
        }
        .table1 {
            border-collapse: separate;
        }
       
        .container {
            position: relative;
            text-align: center;
            color: white;
        }

        .bottom-left {
            position: absolute;
            bottom: 220px;
            color: white;
            left: 26px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .top-left {
            position: absolute;
            top: 25px;
            left: 26px;
            font-family: Arial, Helvetica, sans-serif;
            color: black;
        }

        .top-right {
            position: absolute;
            top: 85px;
            right: 70px;
            font-family: Arial, Helvetica, sans-serif;
            color: black;
        }

        .bottom-right {
            position: absolute;
            bottom: 20px;
            right: 16px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        #rcorners2 {
            border-radius: 25px;
            border: 1px solid red;
            padding: 6px;
           
        }

        .spacer {
            margin: 15px;
        }
    </style>
</head>

<body>

        <div class="contentform">

            <div class="row">
                <div class="col-sm-6">
                    <img src="~/images/giftcard.jpg" width="1000" height="700">

                   
                    <div class="bottom-left" style="font-size:22px;">@Model.Codigo</div>
                    <div class="top-right">

                        <table id="table1">
                            <tr align="left" class="spacer"><td>Nombres: </td><td id="rcorners2">@Model.Nombres.ToUpper()</td></tr>
                            <tr></tr>
                            <tr align="left"><td>Apellidos:</td><td id="rcorners2" style="border-collapse:separate;">@Model.Apellidos.ToUpper()</td></tr>
                            <tr></tr>
                            <tr align="left"><td>E-mail:</td><td id="rcorners2"> @Model.Email</td></tr>
                            <tr></tr>
                            <tr align="left"><td>Teléfono:</td><td id="rcorners2">@Model.Telefono</td></tr>
                            <tr></tr>
                            <tr align="left"><td>DPI:</td><td id="rcorners2">@Model.Identificacion</td></tr>
                            <tr></tr>
                            <tr align="left"><td>Dirección:</td><td id="rcorners2">@Model.Direccion</td></tr>
                            <tr></tr>
                            <tr align="left"><td>Tienda:</td><td id="rcorners2">@Model.Tienda</td></tr>
                            <tr></tr>
                            <tr align="left"><td>Por:</td><td id="rcorners2">Q @Model.Valor</td></tr>
                        </table>
                    </div>
                </div>
            </div>
          </div>
            
</body>

