﻿@using FiestaNetERP.Models.Extensions;
@using System.Web.Mvc;

@model MF_Clases.RespuestaSolicitud;
@{
    ViewData["Title"] = "ResultadoPreCalificacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Resultado Pre-Calificacion</h2>


<div>
    @{ string resultado = string.Empty;
        string colorRespuesta = "#000000";
        string numero_credito = "";
        string solicitud = "";
        @if (Model != null)
        {
            try
            {
                    @if (Model.MensajeError != null)
                    {

                        resultado = Model.MensajeError;
                        colorRespuesta = "#FF0000";
                    }
                    else
                    {
                        if (Model.ResultadoPrecalificacion != null)
                        {
                            if (Model.ResultadoPrecalificacion.Equals("Prohivitivo"))
                            {
                                resultado = "En este momento CrediPlus no le puede otorgar crédito.";
                                colorRespuesta = "#FF0000";
                            }
                            else
                            {
                                resultado = "Tu solicitud ha sido PRE-AUTORIZADA, favor de completar la papelería del cliente";
                                colorRespuesta = "#009900";
                                numero_credito = "Número de crédito:"+ Model.NumeroCredito;
                                solicitud = " Número de solicitud: " +Model.NumeroSolicitud;
                            }

                        }
                        else
                        {
                            resultado = "Espere en lo que se procesa la solicitud.";
                            colorRespuesta = "#0000FF";
                        }
                    }
            } catch 
            {
                resultado = "Ocurrió un error en el envío de la solicitud";
                colorRespuesta = "#FF0000";
            }
        }
        else
        {
            resultado = "Ocurrió un error en el envío de la solicitud, espere y refresque la página en un minuto.";
            colorRespuesta = "#FF0000";
        }

        }
    <div class="container-fluid">
        <div class="row">
            Resultado:<p style="color:@colorRespuesta; text-transform: uppercase; font-size: 18pt;font-weight: bold; "> @resultado </p>
        </div>
        <div class="row">
            @numero_credito
        </div>
        <div class="row">
            @solicitud
        </div>
        <button onclick="CerrarVentana();">Cerrar</button>
    </div>
</div>