﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeBehind="default.aspx.cs" Inherits="PuntoDeVenta._default" MaintainScrollPositionOnPostback="true" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .style1000
        {
            width: 745px;
            height: 967px;
        }
        .style1001
        {
            width: 743px;
            height: 967px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h3>&nbsp;&nbsp;Muro de Noticias</h3>
    <p></p>
    <table align="center">
        <tr>
            <td colspan="3" style="text-align: center">
                <a href="https://drive.google.com/folderview?id=0BwPzAZxP3Y-lRUVXSzJDNk1ZSGs&usp=sharing" target="_blank" tabindex="1120" title="Haga clic aquí para ver los tutoriales del sistema">Haga clic aquí para ver los tutoriales ! ! !</a></td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center">
                <img alt="" class="style1000" src="images/formas1.JPG" /></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center">
                <img alt="" class="style1000" src="images/formas2.JPG" /></td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center">
                <img alt="" class="style1001" src="images/contactos.JPG" /></td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center">
                <iframe width="420" height="315" 
                    src="https://www.youtube.com/embed/Hq9elPkwfyI">
                </iframe>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
    </table>

</asp:Content>
