@model IEnumerable<MF.Comun.Dto.FacturaDetallada>

@{
    ViewData["Title"] = "Consulta Integrada";
}

@Html.BeginRouteForm("MyCustomRoute",
   new { controller = "administracion", action = "cliente" })

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   
<div class="well well-sm col-xs-4 col-md-9 col-lg-10 col-xl-12">
    <div class="row" style="margin-left:10px;" id="contentToChange">

        @(Html.DevExpress()
                        .BootstrapComboBox("accion")
                        .DropDownStyle(DropDownStyle.DropDown)
                        .Value("Cliente")
                        .Width("180")

                        .Items(items =>
                        {
                            items.Add()
                    .Text("Cliente")
                    .Value("cliente");
                            items.Add()
                    .Text("Factura")
                    .Value("Factura");
                            items.Add()
                    .Text("Despacho")
                    .Value("Despacho");
                            items.Add()
                    .Text("Pedido")
                    .Value("Pedido");
                        })
        )

        @(Html.DevExpress()
                                                        .BootstrapTextBox("textoBusqueda")
                                                        .NullText("Ingrese el dato a buscar")

        )



        <button class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> Buscar
        </button>

    </div>

    <div id="flip">Mostrar fechas</div>
    <div id="flop">Ocultar fechas</div>



    <br />
    <div id="panel" class="row">
        Seleccione fecha:
        @(Html.DevExpress()
                    .BootstrapDateEdit("MaskDateEdit")
                    .Value("01/01/2018")
                    .EditFormat(EditFormat.Custom)
                    .EditFormatString("dd, MMMM  yyyy")
                    .UseMaskBehavior(true)
        )
    </div>
</div>
    <div class="container-fluid">
        <div class="col-xs-4 col-sm-6 col-md-9 col-lg-10 col-xl-12">
            @Html.Partial("ConsultaIntegradaParcial")
        </div>
    </div>

