﻿@model MF.Comun.Dto.LoteFacturas
@Html.BeginRouteForm("MyCustomRoute",
   new { controller = "administracion", action = "Factura" })
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="well well-sm col-xs-4 col-md-9 col-lg-10 col-xl-12">
    <div class="row" style="margin-left:10px;" id="contentToChange">

        
        @(Html.DevExpress()
                                                                            .BootstrapTextBox("textoBusqueda")
                                                                            .NullText("Ingrese el dato a buscar")

        )



        <button class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> Buscar
        </button>

    </div>

    <div id="flip">Mostrar fechas</div>
    <div id="flop">Ocultar fechas</div>



    <br />
    <div id="panel" class="row">
        Seleccione fecha:
        @(Html.DevExpress()
                                    .BootstrapDateEdit("MaskDateEdit")
                                    .Value("01/01/2018")
                                    .EditFormat(EditFormat.Custom)
                                    .EditFormatString("dd, MMMM  yyyy")
                                    .UseMaskBehavior(true)
        )
    </div>
</div>
<div class="container-fluid">
    <div class="col-xs-4 col-sm-6 col-md-9 col-lg-10 col-xl-12">
        @Html.Partial("FacturaDetallada",Model)
    </div>
</div>