﻿@model MF.Comun.Dto.LoteFacturas;
@using FiestaNetERP.Models;


@(Html.DevExpress()
                                .BootstrapGridView<MF.Comun.Dto.Factura>("masterGridView")
                                .KeyFieldName(k => k.NoFactura)
                                .SettingsDetail(settings => settings.ShowDetailRow(true))
                                .SettingsBootstrap(settings => settings.Striped(true))
                                .SettingsBehavior(settings => settings.EnableRowHotTrack(true))


                                .Columns(columns =>
                                {
                                    columns.Add(c => c.NoFactura);
                                    columns.Add(c => c.FechaFactura);
                                    columns.Add(c => c.Tienda);
                                    columns.Add(c => c.CodigoCliente);
                                    columns.Add(c => c.primer_nombre);
                                    columns.Add(c => c.segundo_nombre);
                                    columns.Add(c => c.primer_apellido);
                                    columns.Add(c => c.segundo_apellido);
                                    columns.Add(c => c.Vendedor);

                                })
                                                                
                            @*.Templates(templates => templates
                                        .DetailRow(detailRow => @<text>
                                        @Html.Partial("Administracion/Detalle",Model.lstFacturas)
                                        </text>))
                                                                    
                                                               
                                                               
                                                                                                .Routes(routes => routes
                                                                                                    .MapRoute(r => r.Controller("FacturaDetallada").Action("Detalle")))*@
                                                                //.OnBeforeRender((grid, e) =>
                                                                //{
                                                                //    if (!grid.IsPartialUpdate)
                                                                //        grid.DetailRows.ExpandRow(0);
                                                                //})
                                                                /**/
                                                                .Routes(routes => routes
                                                                  .MapRoute(r => r
                                                                      .Action("Index")
                                                                      .Controller("FacturaDetallada")
                                                                      ))



   .Bind(Model.lstFacturas))

