body,h2,ul,li {
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	margin:0;
	padding:0;
}
body { 
	line-height:1;
	font-family:Arial,Helvetica,sans-serif;
}
ol,ul { 
	list-style:none;
}
table { 
	border-collapse:collapse;
	border-spacing:0;
	empty-cells:show;
}
.sucursales-link {
	padding-left:0;
	background:0;
}
#sucursales-page { 
	padding:10px 0 0 10px;
}
#mapWrapper { 
	position:relative;
	width:940px;
	height:597px;
	background:#fff;
}
#googlemap { 
	position:absolute;
	top:0;
	left:0;
	width:940px;
	height:597px;
	-moz-border-radius:10px;
}
#sucursales-list { 
	position:absolute;
	top:60px;
	right:10px;
	background:url(sidebar-box01-bot.png) no-repeat 0 100%;
	width:234px;
	opacity:0.95;
	margin:0 0 9px 3px;
	padding:0 0 15px;
}
#sucursales-list .block-title { 
	background:url(top-tiendas.png) no-repeat 0 0;
	height:40px;
	font-size:.85em;
	font-weight:bold;
	color:#fff;
	text-shadow:1px 1px 0px #3e3e3e;
	padding:17px 0 0 25px;
}
#sucursales-list .block-content { 
	background:url(sidebar-box01-mid.png) repeat-y 0 0;
	position:relative;
	padding:0 7px 5px;
}
#sucursales-list ul {
	overflow:auto;
	max-height:400px;
}
#sucursales-list li { 
	background:url("marcador_map2.png") no-repeat 10px 6px;
	border-bottom:1px solid #ebebeb;
	cursor:pointer;
	padding:6px 10px 6px 36px;
}
#sucursales-list h2 span { 
	font-size:.75em;
	color:#313131;
	line-height:1.3;
	font-weight:bold;
	padding:0 20px 0 0;
}
#sucursales-list p { 
	font-size:.7em;
	color:#666;
	line-height:1.3;
	padding:0;
}
#sucursales-list .gradient-top { 
	width:200px;
	height:5px;
	position:absolute;
	top:0;
	left:10px;
	background:url(gradient_top.png) no-repeat 0 0;
}
#sucursales-list .gradient-bot { 
	width:200px;
	height:5px;
	position:absolute;
	bottom:5px;
	left:10px;
	background:url(gradient_bot.png) no-repeat 0 0;
}
.infoWindowHtmlWrapper { 
	width:430px;
	height:145px;
	overflow:hidden;
}
.infoWindowHtmlWrapper .sucursal-image { 
	width:216px;
	float:left;
}
.infoWindowHtmlWrapper .sucursal-data { 
	width:200px;
	height:145px;
	float:left;
	position:relative;
	padding:0 0 0 10px;
}
.infoWindowHtmlWrapper .sucursal-data h2 { 
	color:#000;
	font-size:1.125em;
	font-weight:bold;
	padding:10px 0 10px 2px;
}
.infoWindowHtmlWrapper .sucursal-data p { 
	line-height:1.2;
	padding:0;
}
.infoWindowHtmlWrapper .sucursal-data .phone { 
	color:#2593a7;
	font-size:1.3em;
	font-weight:bold;
	padding:0 0 0 4px;
}
.infoWindowHtmlWrapper .sucursal-data .descn { 
	font-size:.75em;
	color:#666;
	padding:0 0 2px;
}
.infoWindowHtmlWrapper .sucursal-data .city { 
	font-size:.75em;
	color:#666;
	font-weight:bold;
	padding:0 0 0 4px;
}
.infoWindowHtmlWrapper .sucursal-data .misc p { 
	font-size:.75em;
	color:#333;
	font-weight:bold;
	padding:0 0 0 2px;
}