﻿@using DevExpress.AspNetCore
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Muebles Fiesta</title>



    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/ElegantTheme.css" />

    @Html.DevExpress().StyleSheets()
</head>
<body>


    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                @RenderBody()

            </div>
        </div>

    </div>
    @Html.DevExpress().Scripts()

   

</body>
</html>
