﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_ElegantLayout.cshtml";
}

@*<h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>*@

@*@if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }*@
<head>
    <style type="text/css">
        .content {
            display:block;
            align-content:center;
            text-align:center;
            max-width: 100%;
            max-height: 100%;
            overflow: auto;
        }
    </style>
</head>
<form class="container-fluid" style="margin-top:100px;">
    <div class="contentform">
        <span class="align-middle">
          
            @ViewBag.ErrorMessage
        </span>
    </div>


</form>
