﻿@model MF_Clases.Respuesta;
@{
    ViewData["Title"] = "Notas de Crédito y Débito para firmar";
    Layout = "~/Views/Shared/_ElegantLayout.cshtml";
}


<div class="row" style="align-content:center">
    <div class="col-3"></div>
    <div class="col-6">
        <h3>Notas de Débito y Crédito para firmar</h3>

        
        @{
            @Html.Partial("../Contabilidad/pvDocumentosSinFirmar", ((List<MF_Clases.GuateFacturas.FEL.Doc>)ViewData["lstDocumentos"]).AsEnumerable());
            
        }
 
<h3>Notas de Débito y Crédito con inconvenientes</h3>
            

        @{

            @Html.Partial("../Contabilidad/pvErrores", ((List<ErrorMessage>)ViewData["lstErrores"]).AsEnumerable());
           
        }
    </div>
    <div class="col-3"></div>
</div>