﻿@model  IEnumerable<ErrorMessage>;
@{
    ViewData["Title"] = "pvErrores";
    //Layout = "~/Views/Shared/_ElegantLayout.cshtml";
}
<br />
@(Html.DevExpress()
            .BootstrapGridView<ErrorMessage>("bindingGridEror")
            .SettingsText(settings => settings.EmptyDataRow("No hay registros"))
            .Columns(columns =>
            {
                columns.Add(m => m.Mensaje);
            })
            .Routes(routes => routes
                .MapRoute(r => r
                    .Action("BindGrid")
                    .Controller("DocumentosConta")))
            .Bind(Model))
