﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeBehind="default.aspx.cs" Inherits="PuntoDeVenta._default" MaintainScrollPositionOnPostback="true" %>
<%@ Register assembly="DevExpress.Web.v16.2, Version=16.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.Web" tagprefix="dx" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .style1000
        {
            width: 995px;
            height: 1295px;
        }
        .style1001
        {
            width: 993px;
            height: 1295px;
        }
        .style1002
        {
            width: 995px;
            height: 1295px;
        }
        .auto-style1 {
            height: 20px;
        } 
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h3>&nbsp;&nbsp;Muro de Noticias</h3>
    <p></p>
    <table align="center">
        <tr>
            <td colspan="3" style="text-align: center">
                <a href="https://drive.google.com/folderview?id=0BwPzAZxP3Y-lRUVXSzJDNk1ZSGs&usp=sharing" target="_blank" tabindex="1120" title="Haga clic aquí para ver los tutoriales del sistema">Haga clic aquí para ver los tutoriales ! ! !</a></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center">
                <%--<img alt="" class="style1002" src="images/camas20.JPG" />--%>
                <img alt="" src="images/Promo.png" />



                </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center">
                <img alt="" class="style1000" src="images/formas1.jpg" /></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center">
                <img alt="" class="style1000" src="images/formas2.jpg" /></td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center">
                <img alt="" class="style1001" src="images/contactos.JPG" /></td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td class="auto-style1">
                </td>
            <td class="auto-style1">
                </td>
            <td class="auto-style1">
                </td>
        </tr>
    </table>

</asp:Content>
