﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="garantias.aspx.cs" Inherits="PuntoDeVenta.garantias" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .style1
        {
            width: 1000px;
        }
    </style>
    <script type='text/javascript'>
        function AbrirDescargar() {
            window.open('descargar.aspx', '_newtab');
        }
    </script>
</head>
<body>
    <%--<form id="form1" runat="server">--%>
    
        <table align="left" class="style1">
            <tr>
                <td colspan="2">
                    <img src="images/encabezadoSinMP.jpg" alt="Muebles Fiesta" title="Muebles Fiesta" width="1000" height="115" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <b style="mso-bidi-font-weight:normal"><span lang="EN-US" 
                        style="font-size: 11.0pt; font-family: Aharoni; mso-fareast-font-family: Calibri; mso-fareast-theme-font: minor-latin; mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA; text-align: center;">
                    ¡Felicitaciones por la adquisición de su amueblado en MUEBLES FIESTA!</span></b></td>
            </tr>
            <tr>
                <td>
                    &nbsp;</td>
                <td>
                    &nbsp;</td>
            </tr>
        </table>
    
    <%--</form>--%>
</body>
</html>
