﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="valeMF.aspx.cs" Inherits="PuntoDeVenta.valeMF" MaintainScrollPositionOnPostback="true" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<title>ValeMF</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
        <table id="Tabla_01" width="635" height="743" border="0" cellpadding="0" cellspacing="0">
	        <tr>
		        <td rowspan="4" style="background-image: url(http://drive.google.com/uc?export=view&id=0B04VU4ZOV4rRbG9UWFVlYUg2Q0U); width=317px; height=121px;"><a>Esto es un a</a></td>
		        <td style="background-image: url(http://drive.google.com/uc?export=view&id=0B04VU4ZOV4rRRjduelVTV2hMYmc); width=318px; height=40px;"><p>Esto es un p</p></td>
	        </tr>
	        <tr>
		        <td style="background-image: url(http://drive.google.com/uc?export=view&id=0B04VU4ZOV4rRNFd3YnU5UTJpY28); width=318px; height=20px;">
                <p>No olvide visitar nuestra <a href='http://www.mueblesfiesta.com' tabindex='0'>Página Web</a></p>
                </td>
	        </tr>
	        <tr>
		        <td style="background-image: url(http://drive.google.com/uc?export=view&id=0B04VU4ZOV4rRcGdoYy1JTXZlRWM); width=318px; height=20px;"></td>
	        </tr>
	        <tr>
		        <td style="background-image: url(http://drive.google.com/uc?export=view&id=0B04VU4ZOV4rRWWdKU0Z0bzNoQkE); width=318px; height=41px;"></td>
	        </tr>
	        <tr>
		        <td style="background-image: url(http://drive.google.com/uc?export=view&id=0B04VU4ZOV4rRdWtiamhCUkt0bFU); width=317px; height=30px;"></td>
		        <td style="background-image: url(http://drive.google.com/uc?export=view&id=0B04VU4ZOV4rRY1kzODBZY1hMZGM); width=318px; height=30px;"></td>
	        </tr>
	        <tr>
		        <td colspan="2" style="background-image: url(http://drive.google.com/uc?export=view&id=0B04VU4ZOV4rRVzdlRVdiN1RaVjQ); width=635px; height=592px;"></td>
	        </tr>
        </table>
        <p>
            kfasldkfjaslf</p>
        <p>
            dsofuoafadlfd</p>
            <a>aaaaa</a>
            <a>bbbbbb</a>
</body>
</html>