﻿@model MF_Clases.ConsultaFacturaMayoreo
@using MF_Clases;
@{
    ViewData["Title"] = "OrdenDeCompraMayoreo";
    Layout = "~/Views/Shared/_ElLayout.cshtml";
}
<head>

    <style>
        .HiddenInput {
            overflow: hidden;
            clear: both;
            border: none;
            padding-left: 10px;
        }

        .aParent div {
            float: left;
            clear: none;
        }
    </style>
</head>
<body>

    @using (Html.BeginForm("Index", "Consulta", FormMethod.Post))

    {

        <div class="row" style="align-content:center">

            <h2>Consulta de Facturación</h2>
            <br />
        </div>
        <div class="form-group">
            <div class="aParent">
                <div>
                    <div>
                        <span class="icon-case"><span class="glyphicon glyphicon-user"></span></span>
                    </div>
                    <div>
                        @(Html.DevExpress().BootstrapTextBoxFor(m => m.Cliente).Width(230)
                                .NullText("Código del Cliente")
                                .CssClasses(css => css.Control("HiddenInput"))
                        )
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="aParent">
                <div>
                    <div>
                        <span class="icon-case"><span class="far fa-user-circle"></span></span>
                    </div>
                    <div>
                        @(Html.DevExpress().BootstrapTextBoxFor(m => m.NombreCliente).Width(230)
                                                                .NullText("Nombre del Cliente")
                                                                .CssClasses(css => css.Control("HiddenInput"))
                        )
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="aParent">
                <div>
                    <span class="icon-case"><span class="glyphicon glyphicon-pushpin"></span></span>
                </div>
                <div>
                    @(Html.DevExpress().BootstrapTextBoxFor(m => m.OrdenDeCompra).Width(230)
                            .NullText("Orden de Compra")
                            .CssClasses(css => css.Control("HiddenInput"))
                    )
                </div>
            </div>
        </div>
        <div style="margin-bottom:15px;">
            <table>
                <tr>
                    <td>
                        <span class="icon-case"><span class="glyphicon glyphicon-home"></span></span>
                    </td>
                    <td style="padding-left:10px;">
                        @(Html.DevExpress()
                                .BootstrapComboBoxFor(m => m.Cobrador)
                                .DropDownStyle(DropDownStyle.DropDown)
                                
                                .Width(160)
                                .TextField("Tienda")
                                .ValueField("Tienda")
                                .ValueType(typeof(string))
                                .Bind(ViewData["Tiendas"])
                                .NullText("Tienda")
                                .ClearButton(button => button.DisplayMode(ClearButtonDisplayMode.Always))
                                .Value(Model?.Cobrador)
                        )

                    </td>
                </tr>
            </table>
        </div>
        <div style="margin-bottom:15px;">
            <table>
                <tr>
                    <td>
                        <span class="icon-case"><span class="glyphicon glyphicon-calendar"></span></span>
                    </td>
                    <td style="padding-left:10px;">
                        @(Html.DevExpress().BootstrapDateEditFor(m => m.FechaIni)
                         .EditFormatString("dd/MM/yyyy")
                        .AllowNull(true)
                          .ClearButton(s => s.DisplayMode(ClearButtonDisplayMode.Auto))
                        .NullText("Fecha inicial de factura"))
                    </td>
                </tr>
            </table>
        </div>

        <div style="margin-bottom:15px;">
            <table>
                <tr>
                    <td>
                        <span class="icon-case"><span class="glyphicon glyphicon-calendar"></span></span>
                    </td>
                    <td style="padding-left:10px;">
                        @(Html.DevExpress().BootstrapDateEditFor(m => m.FechaFin)
                        .EditFormatString("dd/MM/yyyy")
                        .AllowNull(true)
                                                                   
                        .ClearButton(s => s.DisplayMode(ClearButtonDisplayMode.Auto))
                        .NullText("Fecha final de factura"))
                    </td>
                </tr>
            </table>
        </div>


        <div style="align-content:center;">

            @(Html.DevExpress()
                    .BootstrapButton("BtnBuscar")
                    .Text("Consultar")
                    .CssClasses(css => css.Control("bouton-contact"))
                    .UseSubmitBehavior(true)
                    .Width(120)
            )



        </div>
        <div class="row" style="align-content:center">
            <br />
            <br />
            <div class="col-lg-12">
                @{
                    if (((List<FacturaMayoreo>)ViewData["lstOrdenes"]).Count() > 0)
                    {
                        @Html.Partial("../Facturacion/pvConsulta", ((List<FacturaMayoreo>)ViewData["lstOrdenes"]).AsEnumerable());
                    }
                }

            </div>

        </div>
    }

</body>