﻿@using MF_Clases;
@{
    ViewData["Title"] = "OrdenDeCompraMayoreo";
    Layout = "~/Views/Shared/_ElegantLayout.cshtml";
}
<CENTER>
    <h2>Ordenes de Compra</h2>
</CENTER>


@(Html.DevExpress()
                                                        .BootstrapGridView<MF_Clases.FacturaMayoreo>("OrdenDeCompra")
                                                         .SettingsPager(s => s.PageSize(200))

                                                        //.KeyFieldName(m => m.ProductID)
                                                        //.KeyFieldName("Factura")
                                                        //.SettingsBehavior(settings => settings.AllowEllipsisInText(true))
                                                        .SettingsResizing(settings => settings.ColumnResizeMode(ColumnResizeMode.Control))
                                                        .SettingsText(settings => settings.EmptyDataRow("No hay registros"))
                                                        //.Settings(settings => settings
                                                        //.ShowFilterRow(true)
                                                        //.ShowFilterRowMenu(true))
                                                        .CssClassesPager(pager => pager
                                                        .PageNumber("d-none d-xl-block")
                                                        .Ellipsis("d-none d-xl-block")
                                                        .Summary("d-none d-md-block"))
                                                    .KeyFieldName(k => k.linkFactura)
                                                    .PreviewFieldName("OrdenDeCompra")
                                                .Settings(settings => settings.ShowPreview(true))

                                                .SettingsBootstrap(settings => settings.Striped(true))

                                                .Columns(columns =>
                                                {
                                                    columns.Add(m => m.Factura).Width(200);
                                                    columns.Add(m => m.Pedido).Width(90);
                                                    columns.Add(m => m.NombreCliente).Width(300);
                                                    columns.Add(m => m.FechaPedido).Caption("Fecha").Width(90);

                                                    columns.Add(m => m.Factura).Width(90).DataItemTemplate(
                                                        t => @<text><a href="@t.KeyValue">Ver Factura</a></text>);

                                                    //columns.Add()
                                                    //    .FieldName("UnitPrice");
                                                    //columns.Add()
                                                    //    .FieldName("UnitsOnOrder");
                                                    //columns.AddTextColumn()
                                                    //    .FieldName("Total")
                                                    //    .UnboundType(UnboundColumnType.Decimal)
                                                    //    .UnboundExpression("UnitsOnOrder * UnitPrice")
                                                    //    .PropertiesTextEdit(properties => properties
                                                    //        .DisplayFormatString("c"));
                                                })
                                                .Routes(routes => routes
                                                    .MapRoute(r => r
                                                        .Controller("../Facturacion/OrdenesDeCompra")
                                                        .Action("BindingToEFCorePartial")))
                                                .Bind( ViewData["lstOrdenes"]!=null ? ((List<FacturaMayoreo>)ViewData["lstOrdenes"]).AsEnumerable(): new List<FacturaMayoreo>().AsEnumerable()))


