﻿@model MF_Clases.ConsultaFacturaMayoreo
@using MF_Clases;
@{
    ViewData["Title"] = "OrdenDeCompraMayoreo";
    Layout = "~/Views/Shared/_FancyLayout.cshtml";
}
<head>
    
    <style>
        .HiddenInput {
            overflow: hidden;
            clear: both;
            border: none;
            padding-left: 10px;
        }

        .aParent div {
            float: left;
            clear: none;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("OrdenesDeCompra", "OrdenesDeCompra", FormMethod.Post))

    {
    <div class="contentform">
        <div class="row" style="align-content:center">
            <div class="col-lg-2"></div>
            <div class="col-lg-8" style="text-align:center">
                <h2>Consulta de Ordenes de Compra Mayoreo</h2>
                <br /><br />
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row" style="align-content:center">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="form-group">
                    <div class="aParent">
                        <div>
                            <span class="icon-case"><span class="glyphicon glyphicon-pushpin"></span></span>
                        </div>
                        <div>
                            @(Html.DevExpress().BootstrapTextBoxFor(m => m.OrdenDeCompra).Width(230)
                                    .NullText("Orden de Compra")
                                   

                            )
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="aParent">
                        <div>
                            <span class="icon-case"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                        <div>
                           
                            @(Html.DevExpress().BootstrapDateEditFor(m => m.FechaIni)
                                                    .EditFormatString("dd/MM/yyyy")
                                                    .AllowNull(true)
                                                   
                                                    //.CssClasses(css => css.Control("HiddenInput"))
                                                    //.ClearButton(s=>s.DisplayMode(ClearButtonDisplayMode.Auto))
                                                    .NullText("Ingrese Fecha de la factura")
                            )
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="aParent">
                        <div>
                            <div>
                                <span class="icon-case"><span class="glyphicon glyphicon-user"></span></span>
                            </div>
                            <div>
                                @(Html.DevExpress().BootstrapTextBoxFor(m => m.Cliente).Width(230)
                                                        .NullText("Nombre del Cliente")
                                                        .CssClasses(css => css.Control("HiddenInput"))
                                )
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-8" style="text-align:center;">
                <br />
                @(Html.DevExpress()
                .BootstrapButton("BtnBuscar")
                .Text("Consultar")
                .CssClasses(css => css.Control("bouton-contact"))
                .UseSubmitBehavior(true)
                .Width(120)
                )
            </div>
            <div class="col-lg-2"></div>
           
        
            </div>
        </div>
            }

    </body>