﻿@model IEnumerable<MF_Clases.FacturaMayoreo>

@if (Model != null)
{
<div><b>Resultado</b> @Model.Count() facturas</div>
}
    <table class="table table-striped" style="min-width:700px">
        <thead>
            <tr style=" border:solid;border-width:thin; border-color:antiquewhite;">
                <th width="270px">
                    Orden de Compra
                </th>
                <th width="150px" colspan="2">
                    Factura
                </th>
                
                <th>
                    Cliente
                </th>
                <th width="350px">
                    Nombre Cliente
                </th>
                <th>
                    Fecha
                </th>
                <th>
                    Total Factura
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Solicitud Anulación
                </th>
                <th width="200px">
                    Link Factura
                </th>

            </tr>
        </thead>
        <tbody>



            @foreach (var item in Model)
            {
            <tr style=" border-left:solid; border-right:solid; border-width:thin; border-left-color:antiquewhite; border-right-color:antiquewhite; border-top-color:antiquewhite;border-bottom-color:gainsboro;">
                <td width="170px">
                    @Html.DisplayFor(modelItem => item.OrdenDeCompra)
                </td>
                <td width="150px" colspan="2">
                    @Html.DisplayFor(modelItem => item.Factura)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente)
                </td>
                <td width="350px">
                    @Html.DisplayFor(modelItem => item.NombreCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPedido)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TotalFactura)
                </td>
                @if (item.Estado.Equals("Vigente"))
                {
                    <td style="color:forestgreen">
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                }
                else
                {
                    <td style="color:slategrey; text-decoration:line-through">
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                }
                <td style="margin-left:auto;margin-right:auto;">
                    @Html.DisplayFor(modelItem => item.SolAnulacion)
                </td>
                <td width="200px">
                    @if (item.Estado.Equals("Vigente"))
                    {
                        <a href="@item.linkFactura">Ver Factura</a>
                    }
                 </td>

            </tr>

                    }

                </tbody>
    </table>
