body {
	margin:-1px 0 0 0;
	padding:0;
}
.bodyhome {
	background:#ebe7dc url(imgs/bgbody.png) repeat-x top center;
}
.bodygen {
	background:#ebe7dc url(imgs/bggen.png) repeat-x top center;
}
.clear {
	clear:both;
	margin:0;
	padding:0;
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
img {
	border:0px;
}
ul, li {
	list-style-type:none;
}
#imgl {
	float:left;
	margin:0 25px 25px 0;
	padding:0px;
}
#imgd {
	float:right;
	margin:0 0 0 35px;
	padding:0px;
}
h1 {
	color:#464139;
	font-size:16pt;
	text-transform:uppercase;
	margin:0;
	font-weight:normal;
	padding:4px 0 18px 0;
	background:url(imgs/separadorh1.png) no-repeat bottom center;
	width:700px;
}
h3 {
	font-size:10pt;
	margin:5px 0;
	padding:0px;
}
input, select, textarea {
	border:1px solid #c0C0C0;
	border-radius:4px;
	background:#fff url(imgs/bginputs.jpg) no-repeat top left;
	padding:3px 10px;
}
#submit {
	border-radius:3px;
	padding:10px 15px;
	background:#3bb5b1;
	background: -webkit-gradient(linear, left top, left bottom, from(#3bb5b1), to(#009e98));
	background: -moz-linear-gradient(top,  #3bb5b1,  #009e98);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bb5b1', endColorstr='#009e98');
	color:#fff;
	text-transform:uppercase;
	border:1px solid #249591;
}
.fullpage {
	width:950px;
	margin:0px auto;
	padding:0;
	font-family:Raleway,verdana,Arial;
	color:#808080;
	font-size:10pt;
	position:relative;
}
.language {
	position:absolute;
	top:-32px;
	right:20px;
	width:1000px;
	margin:0 auto;
	text-align:right;
}
.social {
	position:absolute;
	top:-32px;
	right:20px;
	/*right:280px;*/
	margin:0;
	padding:0;
	z-index:30;
	color:#fff;
}
.header {
	margin:0;
	padding:0;
	height:100px;
	position:relative;
	border-top:1px solid #464139;
}
.header1 {
	float:left;
	width:400px;
	margin:0;
	padding:15px 0 0 0;
}
.header2 {
	float:right;
	width:500px;
	height:50px;
	margin:10px 0 0 0;
	padding:0 15px 15px 15px;
	position:relative;
	font-size:8pt;
	font-family:Raleway,verdana;
}
.header2 ul {
	margin:0 40px 10px 0;
	padding:5px 7px 5px 40px;
	height:52px;
	color:#fff;
	overflow:hidden;
}
.header2 li {
	float:left;
	margin:0;
	padding:0px 5px 0 0;
	color:#C0C0C0;
}
.header2 ul p {
	position:absolute;
	top:25px;
	right:274px;
}
.header2 ul p a {
	color:#C0C0C0;
}
.header ul p span {
	color:#e57325;
}
.newsletter {
	position:absolute;
	top:45px;
	right:37px;
	font-size:10pt;
}
.newsletter a {
	color:#e57325;
}
#submitlogin {
	background:#3bb5b1;
	background: -webkit-gradient(linear, left top, left bottom, from(#3bb5b1), to(#009e98));
	background: -moz-linear-gradient(top,  #3bb5b1,  #009e98);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bb5b1', endColorstr='#009e98');
	color:#fff;
	border:1px solid #009e98;
}
.submenu {
	margin:16px -15px 8px 10px;
	padding:0;
	font-size:11pt;
	font-family:Raleway,arial;
	font-weight:bold;
	text-align:right;
}
.submenu a {
	color:#605643;
}
.submenu span {
	background:#ff8a3f;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	font-size:10pt !important;
	padding:6px 14px;
	border:2px solid #e35904;
}
.submenu span a {
	color:#fff;
}
.redes {
	position:absolute;
	top:15px;
	right:0px;
}
.menutop {
	position:absolute;
	bottom:0;
	right:0;
	margin:5px 0 0 0;
	padding:0 0 0 20px;
	width:660px;
	overflow:hidden;
}
.menutop li {
	float:left;
	margin:0 7px 0 0;
	text-align:center;
	height:45px;
	line-height:45px;
	font-family:Raleway,verdana,"Trebuchet MS";
	text-transform:uppercase;
}
.menutop li a {
	color:#808080;
	padding:6px 9px;
	border-radius:14px;
	border-left:1px solid #464139;
	border-top:1px solid #464139;
	font-size:8pt;
	text-decoration:none;
}
.menutop li a:hover {
	background:#39352f;
	border-radius:14px;
	border-left:1px solid #312d28;
	border-top:1px solid #312d28;
	color:#fff;
}
#activelink a {
	background:#39352f !important;
	border-radius:14px !important;
	border-left:1px solid #312d28 !important;
	border-top:1px solid #312d28 !important;
	color:#fff !important;
}
#mthome a:hover {
	border-top-left-radius:20px;
}
.menutop li div {
	display:none;
}
.contenthome {
	clear:both;
	margin:0;
	padding:0;
	position:relative;
}
.searchhome {
	height:52px;
	padding:0;
	overflow:hidden;
	width:1100px;
}
.searchhome li {
	float:left;
	margin:0 17px 0 0;
	padding:0px;
}
.searchhome input {
	padding:0px;
	font-size:10pt;
	border:0px;
	margin:0px;
}
.searchhome #inputsearch {
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	padding:10px 10px 10px 35px;
	width:263px;
	background:#fff url(imgs/lupa.png) no-repeat center left;
	color:#808080;
	border-top:2px solid #eee;
	border-left:2px solid #eee;
}
.searchhome #submitsearch {
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	padding:10px 15px;
	background:#3bb5b1;
	background: -webkit-gradient(linear, left top, left bottom, from(#3bb5b1), to(#009e98));
	background: -moz-linear-gradient(top,  #3bb5b1,  #009e98);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bb5b1', endColorstr='#009e98');
	color:#fff;
	text-transform:uppercase;
	border-top:2px solid #249591;
	border-right:2px solid #249591;
}
.searchheader {
	height:58px;
	padding:5px 0 0 0;
	overflow:hidden;
	width:1100px;
}
.searchheader li {
	float:left;
	margin:0 17px 0 0;
	padding:0px;
}
.searchheader input {
	padding:0px;
	font-size:10pt;
	border:0px;
	margin:0px;
}
.searchheader #inputsearchh {
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	padding:8px 10px 10px 35px;
	width:263px;
	background:#fff url(imgs/lupa.png) no-repeat center left;
	color:#808080;
	border-top:2px solid #eee;
	border-left:2px solid #eee;
}
.searchheader #submitsearchh {
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	padding:8px 15px 10px 15px;
	background:#3bb5b1;
	background: -webkit-gradient(linear, left top, left bottom, from(#3bb5b1), to(#009e98));
	background: -moz-linear-gradient(top,  #3bb5b1,  #009e98);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bb5b1', endColorstr='#009e98');
	color:#fff;
	text-transform:uppercase;
	border-top:2px solid #249591;
	border-right:2px solid #249591;
}
.content {
	overflow:hidden;
	margin:65px 0 0 0;
	padding:0 10px 20px 0;
	position:relative;
}
/* -- desactivado del lado izquierdo--- */
.sidebar {
	float:right;
	width:220px;
	margin:0;
	padding:0;
	background:#fff;
	position:relative;
}
.sidebar p {
	position:absolute;
	top:-20px;
	left:-1px;
	width:202px;
	padding:15px 10px;
	color:#fff;
	font-size:12pt;
	font-weight:bold;
	background:#76685a;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
.subbox {
	list-style-type:none;
	margin:44px 0 0 0;
	padding:0;
	width:auto;
	overflow:hidden;
}
.subbox li {
	margin:0;
	border-bottom:1px solid #C0C0C0;
	color:#fff;
	text-align:left;
	font-family:Raleway,verdana !important;
	font-size:10pt;
}
.subbox li a {
	display:block;
	padding:10px;
	color:#464139;
	text-decoration:none;
	border-left:2px solid #fff;
}
.subbox li a:hover {
	padding:10px;
	border-left:2px solid #00a7a1;
	background:#f7f5ee;
	color:#39352f;
}
.subbox li ul {
	margin:5px 0 !important;
	padding:0px !important;
}
.subbox li ul li {
	margin:0px !important;
	border:0px !important;
}
.subbox li ul li a {
	font-size:8pt !important;
	padding:2px 0px 2px 20px !important;
	color:#009e98;
}
.subbox li ul li a:hover {
	border-left:2px solid #e57325;
	padding:2px 0px 2px 20px !important;
	background:#f7f5ee;
	color:#39352f;
}
#sidebaractive a {
	border-left:2px solid #00a7a1 !important;
	background:#00a7a1 !important;
	color:#fff !important;
}
#ofertay {
	background:#fbcf02;
	margin:0;
	padding:6px 7px;
}
#ofertay a {
	color:#4c2d16;
	text-decoration:none;
}
#ofertay a:hover {
	color:#fff;
}
.content2 {
	float:left;
	margin:10px 0 0 0;
	padding:0;
	width:680px;
	color:#3e3e3e;
}
.content2 a {
	color:#e35904;
}
.content2 table {
	margin:-10px 0 20px 0;
	padding:10px;
	border:1px solid #C0C0C0;
	border-radius:6px;
	background:#fff;
}
.tablegen {
	width:700px;
}
.content3 {
	margin:10px 0 0 0;
	padding:0;
	width:1000px;
	color:#3e3e3e;
	position:relative;
}
.content3 a {
	color:#e35904;
}
.boxhome {
	overflow:hidden;
	width:950px;
	margin:5px 0 0 0;
	padding:5px 0 0 0;
}
.sidebarlefthome {
	width:221px;
	float:left;
	padding:50px 0 0 0;
	margin:0 15px 15px 0;
	position:relative;
	background:#dcd8ce;
	border-radius:5px;
}
.sidebarlefthome p {
	position:absolute;
	top:-20px;
	left:-1px;
	width:202px;
	padding:15px 10px;
	color:#fff;
	font-size:12pt;
	font-weight:bold;
	background:#76685a;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
.sidebarlefthome ul {
	margin:5px 0 0 10px;
	padding:5px 0 0 0;
	width:200px;
}
.sidebarlefthome li {
	background:#fff;
	margin:0 0 15px 0;
	padding:7px 7px 15px 7px;
	font-size:8pt;
	position:relative;
	border-radius:5px;
}
.sidebarlefthome li #imgsbl {
	width:200px;
	height:140px;
	margin:-11px 0 8px -7px;
	padding:0 0 5px 0;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
.sidebarlefthome li label {
	color:#e57325;
	font-weight:bold;
	font-size:12pt;
}
.sidebarlefthome li .comprarsbl {
	position:absolute;
	bottom:5px;
	right:5px;
}
.sidebarlefthome #lupaprod {
	position:absolute;
	top:115px;
	left:80px;
	width:38px;
	height:32px;
	padding:0px;
	margin:0px;
	background:url(imgs/lupaprod.png) no-repeat top center;
}
#botoncomprar {
	border-radius:3px;
	padding:5px 5px;
	background:#3bb5b1;
	background: -webkit-gradient(linear, left top, left bottom, from(#3bb5b1), to(#009e98));
	background: -moz-linear-gradient(top,  #3bb5b1,  #009e98);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bb5b1', endColorstr='#009e98');
	color:#fff;
	text-transform:uppercase;
	border:1px solid #249591;
	font-size:9pt;
}
.todasofertas {
	padding:0px;
	margin:7px 0 12px 0;
}
.todasofertas a {
	color:#808080;
	font-size:8pt;
}
.productoshome {
    float:left;
    margin:5px 0 25px 0;
	padding:0;
	width:480px;
}
.productoshome ul {
	margin:10px 0 0 10px;
	padding:0;
	width:490px;
	height:240px;
	overflow:hidden;
}
.productoshome li {
	float:left;
	margin:0 20px 25px 0;
	padding:0 0 0 5px;
	width:135px;
	height:185px;
	position:relative;
	background:#fff;
	border-radius:3px;
	font-size:8pt;
	color:#3e3e3e;
}
.productoshome li a {
	text-decoration:none;
}
.productoshome #imgprod {
	margin:0 0 0 -5px;
	padding:0 0 5px 0;
	width:140px;
	height:120px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}
.h1cat {
	color:#464139;
	font-size:12pt;
	text-transform:uppercase;
	margin:0;
	font-weight:normal;
	padding:4px 0 18px 0;
	background:url(imgs/h1home.png) no-repeat bottom center;
	width:460px;
	position:relative;
}
.h1cat .ahrefcat {
	position:absolute;
	top:10px;
	right:0px;
	font-size:7pt;
	text-transform:none !important;
}
strike {
	color:red;
}
.productos {
    float:left;
    margin:5px 0 0 0;
	padding:0;
	width:480px;
}
.productos ul {
	margin:10px 0 0 10px;
	padding:0;
	width:750px;
}
.productos li {
	float:left;
	margin:0 20px 25px 0;
	padding:0 0 0 5px;
	width:135px;
	height:175px;
	position:relative;
	background:#fff;
	border-radius:3px;
	font-size:8pt;
	color:#3e3e3e;
	text-transform:uppercase;
}
.productos li a {
	text-decoration:none;
}
.productos #imgprod {
	margin:0 0 0 -5px;
	padding:0 0 5px 0;
	width:140px;
	height:110px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}
.productosdet {
	margin:-15px 0 0 0;
	padding:0px;
}
.productosdet table {
	margin:0 0 20px 0;
	padding:10px;
	border:1px solid #C0C0C0;
	border-radius:6px;
	width:700px; 
	background:#fff;
}
.facebookhome {
	position:absolute;
	right:0;
	top:200px;
	width:275px;
	margin:0;
	padding:0;
}
.precio {
	color:#8b8986;
}
.precio b {
	color:#e57325;
	font-size:16pt;
}
.vermash {
	position:absolute;
	bottom:7px;
	right:7px;
	margin:0;
	padding:0;
}
.comprarh {
	position:absolute;
	bottom:0;
	right:0;
	width:110px;
	height:19px;
	margin:0;
	padding:6px 0 0 0;
	text-align:center;
	background:#ed4d01;
	color:#fff;
}
.comprarh input {
	background:#ed4d01;
	maargin:0;
	padding:0;
	color:#fff;
	font-weight:bold;
	border:0;
}
.vermas {
	position:absolute;
	bottom:0;
	left:0;
	width:110px;
	height:20px;
	margin:0;
	padding:5px 0 0 0;
	text-align:center;
	background:#e8e1c1;
	font-size:9pt;
	font-weight:bold;
}
.vermas a {
	color:#5f3212;
}
.comprar {
	position:absolute;
	bottom:0;
	right:0;
	width:110px;
	height:19px;
	margin:0;
	padding:6px 0 0 0;
	text-align:center;
	background:#ed4d01;
	color:#fff;
}
.comprar input {
	background:#ed4d01;
	maargin:0;
	padding:0;
	color:#fff;
	font-weight:bold;
	border:0;
}
.categorias {
	float:left;
	width:990px;
	margin:0 0 0 10px;
	padding:0;
}
.categorias ul {
	margin:10px 0 0 10px;
	padding:0;
	width:990px;
}
.categorias li {
	float:left;
	margin:0 27px 20px 0;
	padding:0;
	width:210px;
	height:285px;
	position:relative;
}
.categorias li a {
	text-decoration:none;
}
.categorias li span {
	font-size:7pt;
	color:#3e3e3e;
	text-transform:uppercase;
}
.categorias li img {
	margin:0;
	padding:5px 0 10px 0;
}
.categorias li select {
	font-size:7.5pt;
	font-family:Raleway,Arial;
}
.comprar2 {
	position:absolute;
	bottom:0;
	right:0;
	width:200px;
	height:21px;
	margin:0;
	padding:4px 0 0 0;
	text-align:center;
	background:#ed4d01;
	color:#fff;
}
.comprar2 input {
	background:#ed4d01;
	margin:0;
	padding:0;
	color:#fff;
	font-weight:bold;
	border:0;
}
.pathlinks {
	margin:7px 0;
	padding:0px;
	color:#e57325;
	font-size:8pt;
}
.bannercat {
	width:680px;
	height:80px;
	border:1px solid #c0C0C0;
	padding:0px;
	margin:0px;
}
.bannercatcam {
	width:680px;
	height:80px;
	border:1px solid #c0C0C0;
	padding:0px;
	margin:0 0 0 -15px;
}
.categoriassub {
	margin:10px 0;
	overflow:hidden;
	text-align:right;
	font-size:8pt;
	color:#C0C0C0;
	padding:0px;
	width:710px;
}
.categoriassub a {
	color:#ed4d01;
}
.productosver {
	margin:0;
	padding:10px;
	position:relative;
}
.productosver img {
	margin:0 7px 15px 0;
	padding:0;
	border-radius:7px;
}
.productosver span {
	font-size:8pt;
}
.comprar3 input {
	background:#ed4d01;
	margin:7px 0 0 0;
	padding:5px;
	color:#fff;
	font-weight:bold;
	border:0;
	width:250px;
	border-radius:10px;
	-mod-border-radius:10px;
}
.marcomarcas {
	margin:10px 0;
	padding:20px 0 0 0;
	border-bottom:1px dotted #C0C0C0;
}
.prodcontent {
	overflow:hidden;
}
.productoscalimg {
	float:left;
	margin:0 auto;
	padding:0 20px 20px 10px;
}
.prodlogo {
	text-align:center;
}
.proddescripcion {
	float:right;
}
.prodmas {
	background:#3bb5b1;
	background: -webkit-gradient(linear, left top, left bottom, from(#3bb5b1), to(#009e98));
	background: -moz-linear-gradient(top,  #3bb5b1,  #009e98);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bb5b1', endColorstr='#009e98');
	padding:6px;
	margin:0 0 0 330px;
	text-align:center;
	border-radius:4px;
	font-size:10pt;
	width:100px;
}
.prodmas a {
	color:#fff;
}
.proddescripcion #prodsubmit {
	background:#e35904;
	padding:5px 8px;
	color:#fff;
	font-size:12pt;
	font-weight:bold;
	margin:10px 0 0 0;
	border-radius:8px;
}
.productoscaltable {
	margin:20px 0 0 0;
	padding:0;
	width:450px !important;
	border:0px !important;
}
.productoscaltable td {
	border:1px solid #C0C0C0;
	padding:1px 10px;
	border-radius:4px;
	font-size:8pt;
}
.productoscaltable td a {
	color:#05a09a;
}
.productostdtitle {
	background:url(images/bgmenutop.png) repeat-x top center;
	color:#4c2d16;
	padding:3px 10px;
}
.tableesp {
	border:0px !important;
}
.tableesp td {
	border:1px solid #C0C0C0;
	padding:3px 7px;
	margin:0px;
	border-radius:4px;
}
.titleorange {
	font-size:14pt;
	color:#e57325;
}
.addcart {
	position:absolute;
	bottom:25px;
	right:55px;
}
#nobor {
	border:0px;
	text-align:center;
}
.suplementos2 {
	margin:0;
	padding:0;
	width:975px;
	position:relative;
}
.suplementos {
	margin:0;
	padding:0;
	width:650px;
	position:relative;
}
.suplementos ul {
	margin:0;
	padding:0;
}
.suplementos li {
	float:left;
	margin:0 7px 7px 0;
	padding:0;
}
.medidas {
	position:absolute;
	right:50px;
	top:130px;
}
.camascat {
	margin:5px auto;
	width:100%;
	padding:0;
}
.camascat li {
	float:left;
	margin:0 5px 5px 0;
}
.camascat li a {
	color:#fff;
	background:#e35904;
	display:block;
	padding:7px 12px;
	border:1px solid #e35904;
	text-decoration:none;
	border-radius:10px;
	-mod-border-radius:10px;
	font-size:8pt !important;
}
.camascat li a:hover {
	background:#eee;
	border:1px solid #e35904;
	border-radius:10px;
	-mod-border-radius:10px;
	color:#e35904;
	padding:7px 12px;
}
.marcacont {
	margin:20px 0;
	padding:0px;
}
.marcacont p {
	text-align:center;
	margin:0 0 20px 0;
	padding:0px;
}
.marcascama {
	margin:0 0 20px 0;
	padding:0px;
	overflow:hidden;
	width:670px;
}
.marcascama li {
	float:left;
	width:300px;
	margin:0px;
	padding:15px 0;
	text-align:center;
}
.marcascama .modeloscamas a {
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 5-7 */
  filter: alpha(opacity=50);
  /* Netscape */
  -moz-opacity: 0.5;
  /* Safari 1.x */
  -khtml-opacity: 0.5;
  /* Good browsers */
  opacity: 0.5;
}
.marcascama .modeloscamas a:hover {
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  /* IE 5-7 */
  filter: alpha(opacity=1);
  /* Netscape */
  -moz-opacity: 1;
  /* Safari 1.x */
  -khtml-opacity: 1;
  /* Good browsers */
  opacity: 1;
}
#td {
	background:#e5d9c2;
	color:#000;
	margin:0;
	padding:4px;
}
.suplementos table {
	border:1px solid #C0C0C0;
	padding:6px;
	width:300px;
}
.suplementos td {
	padding:3px;
}
.suplementos a {
	font-size:12pt;
	font-weight:bold;
	text-decoration:underline;
}
.ofertas li {
	float:left;
	margin:0 20px 25px 0;
	padding:0 0 0 5px;
	width:135px;
	height:205px;
	position:relative;
	background:#fff;
	border-radius:3px;
	font-size:8pt;
	color:#3e3e3e;
	text-transform:uppercase;
}
.ofertas li a {
	text-decoration:none;
}
.ofertas #imgprod {
	margin:0 0 0 -5px;
	padding:0 0 5px 0;
	width:140px;
	height:110px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}
.saltopag {
	margin:10px 0;
	padding:0;
	overflow:hidden;
}
.saltopag li {
	margin:0 3px 3px 0;
	float:left;
	text-align:center;
	border:1px solid #C0C0C0 !important;
	font-size:8pt;
	font-weight:bold;
	width:25px !important;
	height:20px !important;
	padding:6px 0 0 0;
}
.saltopag li a {
	text-decoration:none;
	font-weight:normal !important;
	display:block;
	width:25px !important;
	height:20px !important;
	color:#a82a2b !important;
}
#nolink {
	background:#ed4d01;
	color:#fff;
}
.saltopag li:hover {
	background:#eee;
}
.galeria {
	margin:10px 0 25px 0;
	padding:0;
	width:670px;
}
.galeria ul {
	margin:0 0 25px 0;
	padding:0;
}
.galeria li {
	float:left;
	margin:0 5px 5px 0;
	padding:7px;
	border:1px solid #C0C0C0;
	border-radius:10px;
	-mod-border-radius:10px;
}
.galeria p {
	color:#e35904;
	padding:0 0 0 10px;
	font-weight:bold;
	font-size:12pt;
}
.empleos {
	margin:-10px 0 0 0px;
	padding:0px;
}
.empleos p a {
	color:#fff;
}
.empleos table {
	margin:0 0 20px 0;
	padding:10px;
	border:1px solid #C0C0C0;
	border-radius:7px;
	width:700px; 
	background:#fff;
}
h2 {
	border-bottom:1px solid #808080;
	margin:0 0 10px 0;
	padding:0 0 10px 0;
	font-weight:normal;
}
.empleos input, select, textarea {
	border:1px solid #C0C0C0;
	border-radius:5px;
	padding:3px 5px;
}
.textsmall {
	font-size:8pt;
}
.user {
	font-size:8pt;
	color:#C0C0C0;
	margin:0;
	padding:5px 0 7px 0;
	width:430px;
}
.user a {
	color:#e57325;
}
.login {
	float:left;
	width:560px;
	border:1px solid #C0C0C0;
	padding:15px;
	margin:-10px 8px 25px 0;
	border-radius:10px;
	-mod-border-radius:10px;
	background:#fff;
}
.nuevacuentareg {
	float:right;
	width:400px;
	margin:-60px 15px 25px 0;
	padding:15px;
	border:1px solid #4c2d16;
	border-radius:10px;
	-mod-border-radius:10px;
	background:#e35904;
	color:#fff;
	text-align:center;
}
.nuevacuenta b {
	background:#e35904;
	color:#fff;
	padding:5px;
	display:block;
}
.nuevacuenta table {
	width:600px;
	border:1px solid #cdbc9b;
	padding:10px;
	margin:0 0 25px 0;
	border-radius:10px;
	-mod-border-radius:10px;
}
.verpedido b {
	color:#e35904;
}
.tablepedido {
	width:670px !important;
	border:0px;
	padding:0px !important;
}
.tablepedido td {
	border:1px solid #C0C0C0;
	padding:4px;
}
#tdpedido {
	background:#e35904;
	color:#fff;
	padding:5px;
	font-weight:bold;
}
.ubicaciones {
	margin:0;
	pading:0;
}
.ubicaciones ul {
	margin:5px 0 0 -45px;
	pading:0;
	overflow:hidden;
}
.ubicaciones li {
	float:left;
	margin:0 10px 0 0;
	padding:10px;
	list-style-type:none;
	width:290px;
	height:65px;
	position:relative;
}
.ubicaciones p {
	margin:0px;
	padding:0px;
	font-weight:bold;
}
.ubicaciones strong {
	margin:0;
	padding:0;
	color:#868480;
}
.contactenos {
	margin:0 0 25px 0;
	padding:0;
}
.contactenos table {
	margin:10px 0 0 0;
	padding:10px;
	border:1px solid #cdbc9b;
	border-radius:10px;
	-mod-border-radius:10px;
	width:600px;
}
.banners {
	display:none;
	position:absolute;
	top:0px;
	right:3px;
	width:120px;
	margin:10px 5px 0 0;
	padding:0;
}
.banners ul {
	margin:0;
	padding:0;
}
.banners li {
	margin:0;
	padding:0;
}
.footer {
	background:#bbb7af;
    bottom: 0px;
	padding:15px 0 25px 0;
    text-align: center;
    width: 100%;
}
.footer ul {
    margin: auto;
    width: 950px;
    overflow:hidden;
    position:relative;
    padding:0px;
}
.footer li {
	float:left;
	margin:0 15px;
	font-size:8pt;
	text-align:left;
	width:150px;
	font-family:Raleway,verdana;
}
.footer li a {
	color:#39352f;
	border-bottom:1px dotted #e67326;
	padding:9px 5px;
	display:block;
}
#liwidth {
	width:200px;
}
.footersub {
	margin:0px;
	padding:7px;
}
.footersub a {
	margin:0px !important;
	padding:0px !important;
	border:0px !important;
}
.redesfooter {
	position:absolute;
	bottom:0px;
	right:0px;
}
.grupo {
	width:100%;
	margin:0px auto;
	padding:10px 0px 20px 0px;
	text-align:right;
	font-size:8pt;
	font-family:Raleway,verdana;
	background:#c0c0c0;
}
.grupo a {
	color:#808080;
}

/* Gallerias */

#lbOverlay {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #000000;
	cursor: pointer;
	z-index: 4999;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	left: 50%;
	overflow: hidden;
	background-color: #ffffff;
	z-index: 5000;
}

.lbLoading {
	background: #ffffff url('images/load.gif') no-repeat center;
}

#lbImage {
	border: 10px solid #ffffff;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 70%;
	outline: none;
}

#lbPrevLink {
	left: 0;
background: url('images/preview.png') no-repeat 0% 50%;
}

#lbPrevLink:hover {
	background: url('images/preview.png') no-repeat 0% 50%;
}

#lbNextLink {
	right: 0;
background: url('images/next.png') no-repeat 100% 50%;
}

#lbNextLink:hover {
	background: url('images/next.png') no-repeat 100% 50%;
}

#lbBottom {
	font-family: Raleway,Verdana, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #ffffff;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 86px;
	height: 22px;
	background: url('images/close.gif') no-repeat center;
	margin: 5px 0
}

#lbCaption, #lbNumber {
	margin-right: 71px;
}

#lbCaption {
	font-weight: bold;
}